.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #000000;

  &__title {
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem 3rem;
  }

  &__time {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
}